@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Roboted', sans-serif ;
}
a{
 text-decoration: none;
color: #1c1e53
 transition: color 0.3s ease;
}

a:hover{
color: #5e3bee !important;




}

h5{
font-size: 20px;
}

li{
list-style: none;
}

nav{

background-color: #fff;
position: sticky;
top: 0;
padding: 0 85px;
display: flex;
align-items: center;
justify-content: space-between;
height: 88px;
box-shadow: 0 5px 88px rgba(0, 0, 0, 0.1);
}

nav .logo,
footer .logo{
display: flex;
align-items: center;

}

nav .logo a,
footer .logo a{
margin-left: 8px;
font-weight: bold;
font-size: 20px;
}


nav .logo img,
footer .logo img{
width: 40px;
height: 40px;
 }

 nav ul,
 footer .top ul{
display: flex;
gap: 40px;
 }

 nav button{
color: #1c1e53;
background-color: transparent;
padding: 12px 16px;
border-radius: 5px;
border: 1px solid #1c1e53;
cursor: pointer;
transition: all 0.3s ease; 

}

nav button:hover{
background-color: #5e3bee;
border-color: #5e3bee;
color: #fff;
}

nav button#menuButton{

display: none;
align-items: center;
justify-content: center;
font-size: 24px;
padding: 7px;
}


.main{

    background-color: #deebee;
padding: 90px 85px ;
display: flex;
align-items: center;
justify-content: space-between;
gap: 40px ;
}
.main .left{
display: flex;
flex-direction: column;
align-items: start;
}

.main .left h3{
margin-top: 10px ;
font-weight: bold;
font-size: 46px;
}

.main .left h3 span{
color: #5e3bee;
}

.main .left p{

    color: #1c1e53;
    font-size: 22px;
    margin-top: 20px;
}

.main .left button{
margin-top: 40px ;
color: #fff;
cursor: pointer;
background-color: #5e3bee;
padding: 14px 24px ;
border: 1px solid transparent;
border-radius: 5px;

}


.main .right img{
width: 300px;


}

.skills{
padding: 110px 85px 0;
margin-bottom: 900px;
}

.skills h3,
.about .right h3,
.portoflio .header h3,
.feedback h3{
font-size: 40px;
margin-top: 20px;
}

.skills .skill-items{
display: flex;
margin-top: 70px;
gap: 30px;
justify-content: center;
align-items: center;


}

.skills .skill-items .item{
background-color: #deebee;
width: 25%;
border-radius: 10px;
padding: 26px;
border-bottom: 4px solid transparent;
cursor: pointer;
transition: all 0.3s ease;

}

.skills .skill-items .item:hover{
    border-color: #5e3bee;
}

.skills .skill-items .item .icon{
display: flex;
align-items: center;
justify-content: center;
background: #fff;
width: 46px;
height: 46px;
border-radius: 10px;
margin-bottom: 22px;
box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i{
font-size: 26px;
color: #006b6a;
}

.skills .skill-items .item h4,
.portoflio .portofo-items .item .info h4{
font-size: 18px;
}

.skills .skill-items .item p{
margin-top: 20px;
font-size: 14px;
line-height: 22px;
color: #1c1e53;
}

.about{
padding: 110px;
display: flex;
align-items: center;
gap: 60px;
}

.about .left{
background-color: #deebee;
border-radius: 10px 10px 0 0;



}


.about .left img{
width: 440px;
}


.about .right p{
font-size: 16px;
margin-top: 30px;

}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: #131313;
    box-shadow: 0 0 25px var(--main-color);
}
.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #5600df;
}


















